/* --- ESTILOS GERAIS --- */
/* variaveis */
:root {
  --main-bg-color: #212529;
  --main-bg-color2: #495764;
  --main-disguise-color: #45a29e;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin-left: 11.25em;
  margin-right: 11.25em;
}

/* tipografia */
h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 0em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 auto;
  max-width: 31.875em;
  text-align: center;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.05em;
}

h5 {
  font-size: 1.125em;
  line-height: 1.875em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

/* botoes e sombras */
.btn {
  background-color: var(--main-disguise-color);
  border-radius: 0.5em;
  color: #fff;
  font-size: 1.125em;
  margin-bottom: 4em;
  margin-top: 2em;
  padding: 0.6em 1.5em 0.6em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 10em;
}

.btn-2 {
  background-color: var(--main-disguise-color);
  border-radius: 0.5em;
  color: #fff;
  font-size: 1.125em;
  margin-bottom: 4em;
  margin-top: 2em;
  padding: 0.6em 1.5em 0.6em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 10em;
}

.btn:hover {
  background-color: var(--main-bg-color2);
  filter: drop-shadow(0em 0.125em 0.25em #495764);
}

.btn-2:hover {
  background-color: var(--main-bg-color);
  filter: drop-shadow(0em 0.125em 0.25em #495764);
}

.sombra-clara-3 {
  filter: drop-shadow(0em 0.5em 1em #495764);
}

.sombra-clara-4 {
  filter: drop-shadow(0em 1em 1.5em #495764);
}

.sombra-escura-3 {
  filter: drop-shadow(0em 0.5em 1em #212529);
}

/* --- FIM DOS ESTILOS GERAIS --- */

.logo-disguise {
  margin-left: 10%;
  margin-top: 4em;
}

.welcome {
  margin-left: 10%;
  margin-top: 4em;
  /* Flex properties */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome img {
  display: block;
  margin-right: 5%;
  max-width: 50%;
}

.welcome .title {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
}

.welcome .title h2 {
  text-align: left;
}

/* --- SECTION 1 - BENEFICIOS --- */
.beneficios {
  background-color: var(--main-bg-color2);
  margin: 8em 0em 8em 0em;
  padding: 8em 0em 8em 0em;
  text-align: center;
}

.beneficios-lista {
  /* background-color: blue; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* flex-wrap: wrap; */
}

.beneficios-item {
  /* background-color: burlywood; */
  margin-left: 2em;
  margin-right: 2em;
  flex-basis: 30%;
}

/* --- SECTION 2 - FUNCIONALIDADES --- */
.funcionalidades {
  margin-bottom: 8em;
  margin-left: 10%;
}

.funcionalidades h2 {
  font-weight: bold;
  text-align: left;
}

.funcionalidades div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.funcionalidades li {
  margin-bottom: 1.25em;
}

.funcionalidades div .img-funcionalidades {
  /*mockup img*/
  margin-right: 5%;
  max-width: 50%;
}

.funcionalidades div ul {
  list-style-type: none;
  padding: 0em;
}

.funcionalidades .titulo-funcionalidade {
  display: flex;
  font-size: 1.125em;
  font-weight: bold;
}

.funcionalidades .titulo-funcionalidade > img {
  /*icon check*/
  margin-right: 1em;
}

.funcionalidades li > p {
  margin-top: 0em;
}

/* --- SECTION 3 - CTA --- */
.secao-cta {
  background-color: var(--main-bg-color2);
  margin-bottom: 8em;
  padding: 4em 0em;
  text-align: center;
}

.secao-cta h3 {
  font-weight: bold;
  margin-bottom: 2em;
}

.secao-cta p {
  margin-bottom: 2em;
}

/* --- SECTION 4 - COMO USAR --- */
.como-usar {
  margin-left: 11.25em;
  margin-right: 11.25em;
}

.como-usar .tutorial {
  /*flex parent*/
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.como-usar .botao {
  margin-bottom: 4em;
  margin-top: 4em;
  text-align: center;
}

.como-usar .tutorial span {
  /*flex-items*/
  flex-basis: 20%;
}

/* --- SECTION 5 - GITHUB --- */
.github {
  text-align: center;
}

.github::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 0.0625em;
  margin: 0em auto 2em auto;
  width: 4em;
}

.github-titulo {
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 2em;
}

.github-titulo h2 {
  line-height: 0em;
  /* margin-left: 1em; */
  /* margin-top: 4em; */
}

.github-titulo img {
  margin-right: 1em;
}

/* .github-titulo h2::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 0.0625em;
  margin: 0em auto 2em auto;
  width: 4em;
} */

.github p {
  margin: 0em auto 2em auto;
  max-width: 36.625em;
}

/* --- FOOTER --- */
footer {
  background-color: var(--main-bg-color2);
  padding: 2em 0em;
  margin-top: 4em;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-creditos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-creditos p {
  margin-right: 1em;
}

.footer-redes {
  text-align: center;
}

.links-redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-redes a {
  margin: 0em 0.5em;
}

/* --- MOBILE --- */
/* -- TABLET --- */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* tipografia */
  h1 {
    font-size: 2.25em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 0.875em;
  }

  /* botoes e sombras */
  .btn {
    margin: 0 auto;
    width: 8em;
  }

  .btn-2 {
    margin: 0 auto;
    width: 8em;
  }

  .logo-disguise {
    margin-left: 1.875em;
    margin-top: 2em;
  }

  .welcome {
    margin: 0 1.875em;
    /*flex*/
    flex-wrap: wrap;
    justify-content: center;
  }

  .welcome img {
    margin: 1.875em 0;
    max-width: 80%;
  }

  .welcome .title h2 {
    text-align: center;
  }

  /* --- SECTION 1 - BENEFICIOS --- */
  .beneficios {
    margin: 4em 0em 4em 0em;
    padding: 4em 0em 4em 0em;
  }

  .beneficios-lista {
    /* background-color: blue; */
    margin-left: 1.875em;
    margin-right: 1.875em;
  }

  .beneficios-item {
    margin-left: 1em;
    margin-right: 1em;
  }

  .beneficios-item img {
    max-width: 70%;
  }

  /* --- SECTION 2 - FUNCIONALIDADES --- */
  .funcionalidades {
    margin-bottom: 4em;
    margin-left: 1.875em;
  }

  .funcionalidades div {
    flex-wrap: wrap;
  }

  .funcionalidades div .img-funcionalidades {
    /*mockup img*/
    margin: 0 auto 0 0.9375em;
    max-width: 90%;
  }

  .funcionalidades .titulo-funcionalidade > img {
    /*icon check*/
    margin-right: 0.5em;
  }
  
  .funcionalidades .titulo-funcionalidade > p {
    font-size: 1.125em;
  }

  /* --- SECTION 3 - CTA --- */
  .secao-cta {
    margin-bottom: 4em;
    padding: 4em 0em;    
  }

  .secao-cta h3 {
    margin-bottom: 1em;
  }

}

/* -- SMARTPHONE --- */
@media only screen and (max-width: 479px) {
  /* tipografia */
  h1 {
    font-size: 1.875em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
  }

  h3,
  h4 {
    font-size: 1.125em;
  }

  p {
    font-size: 0.875em;
  }

  /* botoes e sombras */
  .btn {
    font-size: 0.8em;
    margin: 0 auto;
    width: 8em;
  }

  .btn-2 {
    font-size: 0.8em;
    margin: 0 auto;
    width: 8em;
  }

  .logo-disguise {
    margin-left: 1.25em;
    margin-top: 2em;
  }

  .welcome {
    margin: 0 1.25em;
    /*flex*/
    flex-wrap: wrap;
    justify-content: center;
  }

  .welcome .title h2 {
    text-align: center;
  }

  .welcome img {
    margin: 1.875em 0;
    max-width: 80%;
  }

  /* --- SECTION 1 - BENEFICIOS --- */
  .beneficios {
    margin: 4em 0em 4em 0em;
    padding: 4em 0em 4em 0em;
  }
  .beneficios-lista {
    background-color: blue;
    flex-wrap: wrap;
    margin-top: 2em;
  }

  .beneficios-item {
    margin-top: 2em;
    flex-basis: 100%;
  }

  /* --- SECTION 2 - FUNCIONALIDADES --- */
  .funcionalidades {
    margin-bottom: 4em;
    margin-left: 1.25em;
  }

  .funcionalidades div {
    flex-wrap: wrap;
  }

  .funcionalidades div .img-funcionalidades {
    /*mockup img*/
    margin: 0 auto;
    max-width: 100%;
  }

  .funcionalidades .titulo-funcionalidade > img {
    /*icon check*/
    margin-right: 0.5em;
    max-width: 8%;
  }
  
  .funcionalidades .titulo-funcionalidade > p {
    font-size: 1.125em;
  }

  /* --- SECTION 3 - CTA --- */
  .secao-cta { 
    margin-bottom: 4em;
    padding: 2em 0em;
  }

  .secao-cta h3 {
    margin-bottom: 1em;
  }

  .secao-cta p {
    margin-top: 0em;
  }
  

}
